# ──────────────────────────────────────
# 공통 설정
# ──────────────────────────────────────
spring:
  data:
    redis:
      timeout: 3000

---
# ──────────────────────────────────────
# local 프로파일
# ──────────────────────────────────────
spring:
  config:
    activate:
      on-profile: local

  data:
    redis:
      host: localhost
      port: 6379

---
# ──────────────────────────────────────
# prod 프로파일
# ──────────────────────────────────────
spring:
  config:
    activate:
      on-profile: prod

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:}
